<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
	 <key>NSBluetoothAlwaysUsageDescription</key>
	 <string>需要蓝牙权限以搜索和连接设备</string>  
	 <key>NSBluetoothPeripheralUsageDescription</key>
	 <string>需要蓝牙权限进行数据传输</string>
  </dict>
  
  <key>UIBackgroundModes</key>
  <array>
      <string>bluetooth-central</string> 
      <string>bluetooth-peripheral</string>  
  </array>
</plist>